/*@font-face {
  font-family: 'Myfont-Regular';
  src: url("RebeccaFont.ttf") format("opentype");
}*/

/*************** || WELCOME ANIMATION || ***************/

.background {
  background-image: url("../images/clouds.jpg");
  background-color: #048BA8;
  height: 1000px;
}

.layer {
  background-color: #048BA8;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcomeText {
  font-size: 45px;
  color: #ffffff;
  line-height: 500px;
  text-align: center;
}


/*************** || HOME || ***************/

.homeBackground {
  background-color: #048BA8;
  height: 1000px;
}