
.sectionContainerContact {
	position: relative;
  width: 100%;
  overflow: hidden;
  height: 500px;
  margin-bottom: 55%;
  margin-top: 400px;
}

.formBackgroundLayer {
    background-color: #2e4057;
    width: 72%;
    max-width: 610px;
    height: 70%;
    margin: auto;
    position: relative;
    top: 90px;
    opacity: .6;
}

.formContainer {
    position: relative;
    top: -270px;
    width: 68%;
    max-width: 550px;
    min-width: 245px;
    margin: auto;
}

div[class^=form] {
	padding-bottom: 25px;
}

input, textarea, button {
	background-color: #2E4057;
	width: 100%;
	height: 3rem;
	border-width: 1px;
	border-color: #2E4057;
  box-shadow: none;
  font-size: 1.3rem;
	font-family: 'Lato', sans-serif;
	color: #F1F2EB;
  box-sizing: border-box;
}

/* CHANGE AUTOCOMPLETE STYLES */
/* Source: https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/*/

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  border: 1px solid #F18F01;
  -webkit-text-fill-color: #F1F2EB;
  -webkit-box-shadow: 0 0 0px 1000px #2E4057 inset;
  transition: background-color 5000s ease-in-out 1s;
}

:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: #F18F01;
    outline-style: auto;
    outline-width: 3px;
}

textarea {
	height: 100px;
	padding-top: 10px;
}

.submitButton {
	width: 25%;
	margin: auto;
}

button {
	width: 100%;
	font-size: 1.5rem;
	color: #F18F01;
	background-color: #2E4057;
	margin-bottom: 15px;
	padding: 0;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
 .formContainer {
	width: 80%;
 }
 .formBackgroundLayer {
 	width: 90%;
 }
 .submitButton {
  width: 40%;
 }
}



