.contactContainer {
	width: 70%;
	margin-left: 15%;
	overflow: hidden;
}

.formContainer {
	position: relative;
	width: 62%;
	margin-left: 18%;
}

div[class^=form] {
	padding-bottom: 10px;
}

input, textarea, button {
	background-color: #2E4057;
	width: 96%;
	height: 25px;
	border-width: 0;
	padding: 0 0 0 10px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #F1F2EB;
}

/* CHANGE AUTOCOMPLETE STYLES */
/* Source: https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/*/

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  border: 1px solid #F18F01;
  -webkit-text-fill-color: #F1F2EB;
  -webkit-box-shadow: 0 0 0px 1000px #2E4057 inset;
  transition: background-color 5000s ease-in-out 1s;
}

:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: #F18F01;
    outline-style: auto;
    outline-width: 3px;
}

textarea {
	height: 100px;
	padding-top: 10px;
}

button {
	width: 25%;
	color: #F1F2EB;
	color: #F18F01;
	background-color: #2E4057;
	margin-left: 37.5%;
	margin-bottom: 15px;
	padding: 0;
}

.sectionImage {
	background-image: url("../images/TreetopsLR.jpg");
	height: 2000px;
	width: 100%;
	position: absolute;
	background-size: contain;
	background-repeat: repeat-y;
	overflow: hidden;
	-webkit-animation-name: moveAbout;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes moveAbout {
  0% {
	margin-top: -1000px;
  }
  100% {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 340px) and (max-width: 500px) {
 .formContainer {
	width: 80%;
	margin-left: 10%;
 }
}

@media only screen and (min-width: 320px) and (max-width: 340px) {
 .formContainer {
	width: 85%;
	margin-left: 7.5%;
 }
}

