
.sectionContainerInner2 {
	position: absolute;
    width: 100%;
    overflow: hidden;
    height: 500px;
    margin-bottom: 300px;
}

.containerLayer2 {
  background-color: #2e4057;
  opacity: 0.6;
  position: absolute;
  top: 175px;
  left: 0;
  height: 25px;
  height: 100%;
  width: 100%;
}

.opaque2 {
  background-color: #2e4057;
  position: absolute;
  top: 200px;
  width: 100%;
  height: 43px;
}

.formBackgroundLayer {
    background-color: #2e4057;
    width: 72%;
    height: 70%;
    margin-left: 14%;
    position: absolute;
    top: 100px;
    opacity: .6;
}

.formContainer {
    position: absolute;
    top: 123px;
    width: 70%;
    margin-left: 16%;
}

div[class^=form] {
	padding-bottom: 25px;
}

input, textarea, button {
	background-color: #2E4057;
	width: 95.5%;
	height: 3rem;
	border-width: 1px;
	border-color: #2E4057;
	padding-left: 1%;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #F1F2EB;
}

/* CHANGE AUTOCOMPLETE STYLES */
/* Source: https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/*/

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  border: 1px solid #F18F01;
  -webkit-text-fill-color: #F1F2EB;
  -webkit-box-shadow: 0 0 0px 1000px #2E4057 inset;
  transition: background-color 5000s ease-in-out 1s;
}

:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: #F18F01;
    outline-style: auto;
    outline-width: 3px;
}

textarea {
	height: 100px;
	padding-top: 10px;
}

button {
	width: 25%;
	font-size: 1.5rem;
	color: #F1F2EB;
	color: #F18F01;
	background-color: #2E4057;
	margin-left: 37.5%;
	margin-bottom: 15px;
	padding: 0;
}

.sectionImage {
	background-image: url("../images/treetops.jpg");
	height: 2000px;
	width: 100%;
	position: absolute;
	background-size: contain;
	background-repeat: repeat-y;
	overflow: hidden;
    /**** Safari 4.0 - 8.0 ****/
    -webkit-animation-name: moveAbout;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    /**** Firefox 5+ ****/
    -moz-animation-name: moveAbout;
    -moz-animation-duration: 50s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-timing-function: linear;
    /**** Opera 12+ ****/
    -o-animation-name: moveAbout;
    -o-animation-duration: 50s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: normal;
    -o-animation-timing-function: linear;
    /**** Standard syntax ****/
    animation-name: moveAbout;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

/**** Safari 4.0 - 8.0 ****/
@-webkit-keyframes moveAbout {
  0% {
	margin-top: -1000px;
  }
  100% {
    margin-top: 0px;
  }
}

/**** Firefox 5+ ****/
@-moz-keyframes moveAbout {
  0% {
     margin-top: -1000px;
  }
  100% {
      margin-top: 0px;
  }
}

/**** Opera 12+ ****/
@-o-keyframes moveAbout {
  0% {
     margin-top: -1000px;
  }
  100% {
      margin-top: 0px;
  }
}

/**** Standard syntax ****/
@keyframes moveAbout {
  0% {
     margin-top: -1000px;
  }
  100% {
      margin-top: 0px;
  }
}


@media only screen and (min-width: 320px) and (max-width: 760px) {
 .formContainer {
	width: 80%;
	margin-left: 10%;
 }
 .formBackgroundLayer {
 	width: 92%;
 	margin-left: 4%;
 }
 button {
 	width: 40%;
 	margin-left: 30%;
 }

}

@media only screen and (min-width: 1330px) {
 .sectionImage {
	background-size: cover;
 }

}



