
.test {
  height: 520px;
  overflow: hidden;
}

.imageLayer {
	height: 522px;
	width: 100%;
	background-color: #2E4057;
	/*background-color: #F18F01;*/
	opacity: 0.3;
	position: absolute;
	top: 554px;
}

.aboutImage {
	background-image: url("../images/trees.jpg");
	/*background-image: url("../images/UM.jpg");*/
	height: 1000px;
	background-size: contain;
	background-repeat: repeat-y;
	overflow: hidden;
	-webkit-animation-name: moveAbout;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes moveAbout {
  0% {
	   margin-top: -150px;
    	}
  100% {
    	margin-top: 0px;
    	}
    }

.outerAboutLayer {
	position: absolute;
	top: 554px;
	width: 60%;
	margin-left: 20%;
}

.aboutContainer {
	position: absolute;
	top: 0px;
	/*width: 85%;*/
	color: #F1F2EB;
	/*margin-left: 7.5%;*/
	background-color: #2E4057;
	padding: 10px 20px 10px 20px;
}

.aboutLayer {
	background-color: #2E4057;
	opacity: 1;
	opacity: .6;
	position: absolute;
	top: 554px;
	width: 70%;
	margin-left: 15%;
	height: 522px;
}

/*img {
	max-width: 100%;
    height: auto;
}*/