
.sectionContainer {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 25%;
  margin-top: 400px;
}

.sectionImage {
	background-image: url("../images/treetopsLowRes.jpg");
	height: 2500px;
	width: 100%;
	position: absolute;
	background-size: contain;
	overflow: hidden;
    /**** Safari 4.0 - 8.0 ****/
    -webkit-animation-name: moveAbout;
    -webkit-animation-duration: 26s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    /**** Firefox 5+ ****/
    -moz-animation-name: moveAbout;
    -moz-animation-duration: 26s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    /**** Opera 12+ ****/
    -o-animation-name: moveAbout;
    -o-animation-duration: 26s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    /**** Standard syntax ****/
    animation-name: moveAbout;
    animation-duration: 26s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/**** Safari 4.0 - 8.0 ****/
@-webkit-keyframes moveAbout {
  0% {
	  margin-top: 700px;
  }
  100% {
    margin-top: 0px;
  }
}

/**** Firefox 5+ ****/
@-moz-keyframes moveAbout {
  0% {
     margin-top: -700px;
  }
  100% {
      margin-top: 0px;
  }
}

/**** Opera 12+ ****/
@-o-keyframes moveAbout {
  0% {
     margin-top: -700px;
  }
  100% {
      margin-top: 0px;
  }
}

/**** Standard syntax ****/
@keyframes moveAbout {
  0% {
     margin-top: -700px;
  }
  100% {
      margin-top: 0px;
  }
}

.sectionImageLayerFull {
	height: 100%;
	width: 100%;
	background-color: #2E4057;
	opacity: 0.2;
	position: absolute;
	top: 70px;
}

.sectionImageLayerPartial {
	background-color: #2E4057;
	opacity: .6;
	position: absolute;
  left: 0;
  right: 0;
  margin: auto;
	opacity: .6;
  width: 72%;
  max-width: 610px;
  min-width: 288px;
  height: 82%;
  top: 90px;
}

.textContainer {
	position: relative;
	background-color: #2E4057;
	width: 68%;
  max-width: 550px;
  min-width: 245px;
	margin: auto;
	margin-bottom: 150px;
	top: 105px;
}

.text {
	padding: 10px 20px 10px 20px;
	color: #F1F2EB;
}

a {
	color: #F1F2EB;
}

a:hover {
	color: #F18F01;
}

.resume {
	width: 85px;
	height: 95px;
	margin-left: 1rem;
	margin-bottom: 2rem;
	float: right;
	position: relative;
	top: 20px;
	text-align: center;
	font-size: 20px;
	background-color: #F18F01;
	opacity: .8;
}

.resumeDownload {
	color: #000000;
	font-weight: bold;
	position: relative;
	top: 10px;
}

.resumeDownload:hover, .fa:hover {
	color: #F1F2EB;
}

.fa {
	color: #000000;
	padding-top: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
.textContainer {
	width: 80%;
 }
.sectionImageLayerPartial {
	width: 90%;
  height: 90%;
 }
}

@media only screen and (min-width: 1330px) {
 .sectionImage {
  background-size: cover;
 }
}

@media only screen and (min-width: 1024px) {
 .sectionContainer {
  margin-bottom: 40%;
 }
}


