footer {
  text-align: center;
  line-height: 50px;
  margin: auto;
}

.footerLayer {
  background: #2E4057;
  opacity: .3;
  position: absolute;
  width: 100%;
  height: 50px;
}

footer, .footerLayer {
  max-width: 1440px;
}

.copyright {
  color: #F1F2EB;
  display: inline-block;
}

.portfolioGithub {
  position: relative;
  height: 30px;
  bottom: -9px;
  margin-right: 15px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

.portfolioGithub:hover {
  background: #99C24D;
}

/*************** || RESPONSIVE DESIGN || ***************/

@media only screen and (min-width: 310px) and (max-width: 374px) {
  .portfolioGithub {
    display: none;
  }
}
