.wrapper {
  min-height: calc(100vh - 50px);
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
}

.homeContainer {
  height: 507px;
  overflow: hidden;
  margin: auto;
}

.imageLayer2, .imageLayer3 {
  background-color: #048BA8;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.imageLayer2 {
  opacity: 0.6;
  top: 200px;
  left: 0;
  height: 30px;
}

.imageLayer3 {
  top: 230px;
  height: 52px;
}

/*************** || IMAGE ANIMATION || ***************/

.homeImage {
  background-image: url("../images/cloudsLR.jpg");
  height: 2000px;
  overflow: hidden;
  /**** Safari 4.0 - 8.0 ****/
  -webkit-animation-name: move;
  -webkit-animation-duration: 43s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  /**** Firefox 5+ ****/
  -moz-animation-name: move;
  -moz-animation-duration: 43s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  /**** Opera 12+ ****/
  -o-animation-name: move;
  -o-animation-duration: 43s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  /**** Standard syntax ****/
  animation-name: move;
  animation-duration: 43s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/**** Safari 4.0 - 8.0 ****/
@-webkit-keyframes move {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

/**** Firefox 5+ ****/
@-moz-keyframes move {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

/**** Opera 12+ ****/
@-o-keyframes move {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

/**** Standard syntax ****/
@keyframes move {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

/*************** || HEADER || ***************/

.imageLayer1 {
  background-color: #048BA8;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  height: 100px;
  width: 93%;
  max-width: 1261px;
  line-height: 100px;
  padding-left: 7%;
}

.nameLink {
	color: #ffffff;
  font-size: 2.5rem;
}

.nameLink:hover {
  color: #ffffff;
}

.socialLinks {
  position: absolute;
  left: 80%;
  top: 20px;
}

.socialIcons {
  height: 45px;
  width: 45px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.socialIcons:hover {
  background-color: #99C24D;
}

/*************** || NAVIGATION || ***************/

.menuBlock {
  background-color: #048BA8;
  position: relative;
  top: -225px;
	width: 30%;
	height: 225px;
}

.menuContainer {
  position: relative;
	width: 70%;
	margin-left: 30%;
	top: -450px;
  cursor: pointer;
}

.sectionLinks {
  background-color: #2E4057;
  opacity: 0.6;
	height: 75px;
  font-size: 2rem;
	color: #ffffff;
	line-height: 75px;
	padding-left: 20%;
  cursor: pointer;
}

.sectionLinks:hover {
	background-color: #F18F01;
	color: #2E4057;
	font-weight: bold;
}

/*************** || RESPONSIVE DESIGN || ***************/

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .nameLink {
    position: relative;
    top: -20px;
  }
  .socialLinks {
    position: relative;
    top: -69px;
    left: 0;
  }
  .socialIcons {
    width: 35px;
    height: 35px;
  }
  .header {
    text-align: center;
    width: 100%;
    padding-left: 0;
    height: 110px;
  }
  .imageLayer1 {
    height: 110px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
  .socialLinks {
    left: 70%;
  }
}

@media only screen and (min-width: 1925px) {
  .headerImage {
    background-size: cover;
  }
}
