.wrapper {
  min-height: calc(100vh - 50px);
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
  font-family: 'Lato';
  font-weight: 300;
  visibility: hidden;
}

.homeContainer {
  height: 507px;
  overflow: hidden;
  margin: auto;
}

.imageLayer2, .imageLayer3 {
  background-color: #048BA8;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.imageLayer2 {
  opacity: 0.6;
  top: 200px;
  left: 0;
  height: 30px;
}

.imageLayer3 {
  top: 230px;
  height: 52px;
}

/*************** || IMAGE ANIMATION || ***************/

.homeImage {
  background-image: url("../images/cloudsLR.jpg");
  height: 2000px;
  overflow: hidden;
  animation-name: move;
  animation-duration: 43s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

.imageLayer1 {
  background-color: #048BA8;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
}

/*************** || NAVIGATION || ***************/

.menuBlock {
  background-color: #048BA8;
  position: relative;
  top: -225px;
	width: 30%;
	height: 225px;
}

.menuContainer {
  position: relative;
	width: 70%;
	margin-left: 30%;
	top: -450px;
  cursor: pointer;
}

.sectionLinks {
  background-color: #2E4057;
  opacity: 0.6;
	height: 75px;
  font-size: 2rem;
	color: #ffffff;
	line-height: 75px;
	padding-left: 20%;
  cursor: pointer;
}

.sectionLinks:hover {
	background-color: #F18F01;
	color: #2E4057;
	font-weight: bold;
}

