.wrapper {
  min-height: calc(100vh - 50px);
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
  font-family: 'Lato';
  font-weight: 300;
}

.homeContainer {
  height: 507px;
  overflow: hidden;
  margin: auto;
}

.imageLayer2, .imageLayer3 {
  background-color: #048BA8;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.imageLayer2 {
  opacity: 0.6;
  top: 200px;
  left: 0;
  height: 30px;
}

.imageLayer3 {
  top: 230px;
  height: 52px;
}

/*************** || IMAGE ANIMATION || ***************/

.homeImage {
  background-image: url("../images/cloudsLR.jpg");
  height: 2000px;
  overflow: hidden;
  animation-name: move;
  animation-duration: 43s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  visibility: hidden;
}

@keyframes move {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

.imageLayer1 {
  background-color: #048BA8;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
}

/*************** || NAVIGATION || ***************/

.menuBlock {
  background-color: #048BA8;
  position: relative;
  top: -225px;
	width: 30%;
	height: 225px;
}

.menuContainer {
  position: relative;
	width: 70%;
	margin-left: 30%;
	top: -450px;
  cursor: pointer;
}

.sectionLinks {
  background-color: #2E4057;
  opacity: 0.6;
	height: 75px;
  font-size: 2rem;
	color: #ffffff;
	line-height: 75px;
	padding-left: 20%;
  cursor: pointer;
}

.sectionLinks:hover {
	background-color: #F18F01;
	color: #2E4057;
	font-weight: bold;
}

/*************** || RESPONSIVE DESIGN || ***************/

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .r, .e, .b, .e2, .c, .c2, .a, .palmore {
    position: relative;
    top: -20px;
  }
  .socialLinks {
    position: relative;
    top: -69px;
    left: 0;
  }
  .socialIcons {
    width: 35px;
    height: 35px;
  }
  .header {
    text-align: center;
    width: 100%;
    padding-left: 0;
    height: 110px;
  }
  .imageLayer1 {
    height: 110px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
  .socialLinks {
    left: 70%;
  }
}

@media only screen and (min-width: 1925px) {
  .headerImage {
    background-size: cover;
  }
}
