.secondaryNav {
	text-align: center;
/*	position: absolute;*/
/*	top: 90%;*/
/*	bottom: 4%;*/
	width: 100%;
/*	margin-top: 30px;*/
}

.navLayer {
	position: relative;
	bottom: -29px;
	height: 37px;
	background-color: #F18F01;
	opacity: .8;
}

.navLink {
	padding: .75em;
	color: #ffffff;
/*	font-family: 'Lato', sans-serif;*/
	/*background-color: #F18F01;*/
}

/*.navLinks {
	color: #ffffff;
}*/