.sectionImage {
  background-image: url("../images/treetopsLowRes.jpg");
  position: absolute;
  width: 100%;
  height: 2500px;
  background-size: contain;
  overflow: hidden;
  animation-name: moveSectionImage;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  visibility: hidden;
}

@keyframes moveSectionImage {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

@media only screen and (min-width: 1330px) {
  .sectionImage {
    background-size: cover;
  }
}