.sectionContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: calc(100vh - 120px);
  display: flex;
}

.sectionContainerInner {
  width: 100%;
  margin: auto;
  position: relative;
}

.contentContainer {
  background: #2E4057;
  position: relative;
  width: 68%;
  max-width: 620px;
  min-width: 245px;
  margin: 50px auto 50px auto;
  box-shadow: 0px 0px 0px 25px rgba(46, 64, 87, 0.6);
}

.sectionImage {
  background-image: url("../images/treetopsLowRes.jpg");
  position: absolute;
  width: 100%;
  height: 2500px;
  background-size: contain;
  overflow: hidden;
  animation-name: moveSectionImage;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  visibility: hidden;
}

@keyframes moveSectionImage {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

/*************** || RESPONSIVE DESIGN || ***************/

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .contentContainer {
    box-shadow: 0 0 0 20px rgba(46,64,87,.6);
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contentContainer {
    width: 80%;
  }
}

@media only screen and (min-width: 1330px) {
  .sectionImage {
    background-size: cover;
  }
}