.sectionHeaderLayer {
  background: #2e4057;
  opacity: .3;
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 70px;
}

.sectionHeaderContainer {
  position: relative;
  width: 100%;
  height: 70px;
  line-height: 70px;
  top: 0;
}

.sectionHeaderNavigation {
  width: 32%;
  min-width: 320px;
  height: 100%;
  padding-left: 7%;
  top: 0;
}

.sectionTitle, .returnTop {
  display: inline-block;
  font-size: 30px;
  color: #ffffff;
  padding: 0 1.5rem 0 1.5rem;
}

.returnTop {
  border-left: 1px solid #048BA8;
}

.returnTop:hover {
  background: #F18F01;
  opacity: .8;
  color: #2E4057;
  font-weight: bold;
}
/*************** || RESPONSIVE DESIGN || ***************/

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .sectionHeaderNavigation {
    width: 100%;
    padding-left: 0;
  }
   .returnTop, .sectionTitle {
    padding: 0;
    width: 49%;
    text-align: center;
  }
}
