.welcomeBackground {
  background-image: url("../images/cloudsLR.jpg");
  background-color: #048BA8;
  height: 1000px;
}

.welcomeLayer {
  background: #048BA8;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
}

.welcomeText {
  font-size: 45px;
  color: #ffffff;
  line-height: 500px;
  text-align: center;
  font-weight: bold;
}